/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --btn-border: #ff007066;
  --title-color: #db00ff;
  --shadow-default: #ff0070;
  --shadow-color: #ff0070;
  --text-bg-color: #ff0070;
  --text-color: #000028;
  --text-color-accent: #f1b2ce;
  --interactive-text-shadow-color: #ff0070;
  --element-display: block;
}
