/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --accent-color: #353430;
  --btn-border: #32312d66;
  --title-color: #ffc2e6;
  --shadow-default: #ff0070;
  --shadow-color: #ff8dcb;
  --text-bg-color: #ff8dcb;
  --text-color: #353430;
  --text-color-accent: #353430;
  --interactive-text-shadow-color: #ff8dcb;
  --element-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --bg: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --accent-color: #353430;
    --btn-border: #32312d66;
    --title-color: #ffc2e6;
    --shadow-default: #ff0070;
    --shadow-color: #ff8dcb;
    --text-bg-color: #ff8dcb;
    --text-color: #353430;
    --text-color-accent: #353430;
    --interactive-text-shadow-color: #ff8dcb;
    --element-display: none;
  }
  /* Остальные стили, только при необходимости */
}
