/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg:url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --accent-color: #353430;
  --btn-border: #353430;
  --title-color: #FFC2E6;
  --shadow-default: #FF0070;
  --shadow-color: #FF8DCB;
  --text-bg-color: #FF8DCB;
  --text-color: #353430;
  --block_text-color: #353430;
  --text-link__shadow-color: #FF8DCB;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --bg:url("../images/cover-image-light.png");
    --bg-color: #FFF1F7;
    --accent-color: #353430;
    --btn-border: #353430;
    --title-color: #FFC2E6;
    --shadow-default: #FF0070;
    --shadow-color: #FF8DCB;
    --text-bg-color: #FF8DCB;
    --text-color: #353430;
    --block_text-color: #353430;
    --text-link__shadow-color: #FF8DCB;
    --rec-display: none;
  }
  /* Остальные стили, только при необходимости */
} 