/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:focus {
  outline: none;
}
.page {
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}
.header {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: grid;
}
.header::before {
  content: "";
  position: absolute;
  width: 25.04px;
  height: 25px;
  top: 7px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}
.header::after {
  content: "";
  position: absolute;
  width: 25.04px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  
}
.rec {
  position: absolute;
  top: 10px;
  right: 38px;
}
.rec::after {
  content: " ";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 10px;
  background-color: var(--accent-color);
}
.header__theme-menu {
  margin-top: 75px;
  justify-self: end;
  margin-right: 10px;
}
.header__theme-menu-button {
  background-color: transparent;
  padding: 1.5px 13px;
  color: var(--accent-color);
  border: none;
}
.header__theme-menu-button_active {
  border: 1px solid var(--accent-color)
}
.header__theme-menu-button:hover {
  border: 1px solid #FF007066;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}
.header__title {
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  leading-trim: NONE;
  line-height: 83%;
  letter-spacing: 0%;
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}
.header__text {
  align-self: start; /* элемент прижимается к верху ячейки */
  margin-top: 55px;
  margin-left: 10px;
  margin-right: 10px;
  color: #000028;
  text-wrap: wrap;
  background-color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 23.4px;
  letter-spacing: 0%;
}
.main {
  margin-top: 40px;
}
.questions {
  margin-right: 10px;
  margin-left: 10px;
  background-image: initial;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.decision__title {
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.block {
  margin-bottom: 20px;
}
.block__title {
  color: #000028;
  background-color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 23.4px;
  letter-spacing: 0%;
}
.block__text {
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: #F1B2CE;
}
.item__title {
  margin-top: 20px;
  background-color: var(--accent-color);
  color: #000028;
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 23.4px;
  letter-spacing: 0%;

}
.block__picture {
  margin-top: 50px;
  display: grid;
  gap: 10px;
}
.block__picture img{
  max-width: 100%;
}
.footer {
  background-image: initial;
  background-color: var(--bg-color);
  margin-top: 40px;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  width: 25.04px;
  height: 25px;
  top: 7px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}
.footer::after {
  content: "";
  position: absolute;
  width: 25.04px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}
.footer__title {
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 116px;
  leading-trim: NONE;
  line-height: 83%;
  letter-spacing: 0%;
  color: #DB00FF;
}

@media (width >= 768px) {
  .header {
    height: 1024px;
    
  }
  .header__theme-menu {
    margin-top: 192px;
    margin-right: 20px;
  }
  .header__text {
    width: 364px;
    display: inline-block;
    justify-self: end;
    margin-right: 20px;
  }
  .questions {
    margin: 0 20px;
    gap: 80px;
  }
  .decision-row {
    display: flex;
    gap: 20px;
  }

}