/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:focus {
  outline: none;
}
.page {
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}
.header {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}
.header::before {
  content: "";
  position: absolute;
  width: 25.04px;
  height: 25px;
  top: 7px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}
.header::after {
  content: "";
  position: absolute;
  width: 25.04px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  
}
.rec {
  position: absolute;
  top: 10px;
  right: 38px;
  display: var(--rec-display);
  color: var(--accent-color);
}
.rec::after {
  content: " ";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 10px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  
}
.header__theme-menu {
  margin-top: 75px;
  justify-self: end;
  margin-right: 10px;
  height: fit-content;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__theme-menu-item {
  font-family: IBM Plex Mono ,sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

}
.header__theme-menu-button {
  background-color: transparent;
  padding: 1.5px 13px;
  color: var(--accent-color);
  border: none;
}
.header__theme-menu-button_active {
  border: 1px solid var(--accent-color)
}
.header__theme-menu-button:hover {
  border: 1px solid var(--btn-border);
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}
.header__title {
  margin-left: 10px;
  font-family: IBM Plex Mono ,sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--header__shadow-color);
  align-self: center;
}
.header__text {
  align-self: start;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--text-color);
  text-wrap: wrap;
  background-color: var(--text-bg-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.questions {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.text__link {
  color: var(--block_text-color);
  text-shadow: 2px 2px 0 var(--text-link__shadow-color);
}
.text__link:hover {
  border-bottom: 1px solid var(--block_text-color);
}
.text__link:focus {
  outline: none;
}
.text__link:focus-visible {
  border: 1px solid var(--block_text-color);
}
.decision__title {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.block {
  margin-bottom: 20px;
}
.block__title {
  color: var(--text-color);
  background-color: var(--text-bg-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}
.block__text {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--block_text-color);
}
.item__title {
  margin-top: 20px;
  background-color: var(--text-bg-color);
  color: var(--text-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;

}
.block__picture {
  margin-top: 50px;
  display: grid;
  gap: 10px;
}
.block__picture img {
  max-width: 100%;
}
.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  width: 25.04px;
  height: 25px;
  top: 7px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}
.footer::after {
  content: "";
  position: absolute;
  width: 25.04px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}
.footer__title {
  font-family: IBM Plex Mono , sans-serif;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--footer__shadow-color);
}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }
  .header {
    height: 1024px;
  }
  .rec {
    top: 23px;
    right: 48px;
  }
  .header::before {
    top: 20px;
    right: 20px;
  }
  .header::after {
    bottom: 20px;
    left: 20px;
  }
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__theme-menu {
    margin-top: 192px;
    margin-right: 20px;
  }
  .header__text {
    width: 364px;
    display: inline-block;
    justify-self: end;
    margin-top: 162px;
    margin-right: 20px;
  }
  .questions {
    margin: 0 20px;
    gap: 80px;
  }
  .block-content_box {
    min-width: 472px;
    max-width: 472px;
  }
  .decision__item-line {
    display: flex;
    gap: 20px;
  }
  .decision__title-width {
    width: 236px;
  }
  .block__picture-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }
  .tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }
  .books {
    grid-column: 2;
    grid-row: 2;
  }
  .street {
    grid-column: 2 / 4;
    grid-row: 3;

  }
  .sunset, .ice-cream, .tape, .books, .street {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  .footer__title {
    font-size: 120px;
  }
}
@media (width >= 1024px) {
  .header {
    height: 768px;
  }
  .header__text {
    margin-top: 114px;
    width: 491px;
  }
  .header__theme-menu {
    margin: initial;
    justify-self: center;
    margin-top: 20px;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
  .block-content_box {
    min-width: 649px;
    margin-left: auto;
  }
  .block__item-line {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
  }
  .decision__title-width {
    width: 315px;
  }
  .blocks {
    margin-left: auto;
  }
  .footer__title {
    font-size: 157px;
  }
  .footer {
    height: 768px;
  }
}