/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --btn-border: #ff007066;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --shadow-default: #ff0070;
  --text-bg-color: #ff0070;
  --text-color: #000028;
  --text-color-accent: #f1b2ce;
  --interactive-text-shadow-color: #ff0070;
  --element-display: block;
}
