/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #FF0070;
  --btn-border: #FF007066;
  --title-color: #DB00FF;
  --shadow-color: #FF0070;
  --shadow-default: #FF0070;
  --text-bg-color: #FF0070;
  --text-color: #000028;
  --text-color-accent: #F1B2CE;
  --interactive-text-shadow-color: #FF0070;
  --element-display: block;
}